<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/categories.css">
    <link rel="stylesheet" href="../css/variables.css">
    <title>Categories</title>
</head>
<body>
    <div class="contenedor">
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <div class="lineass">
            <span class="lineas"></span>
            <span class="lineas"></span>
        </div>
    </div>

    <div clas="categoriTitulo">
        <h1 id="categori">Interactive Categori grid</h1>
    </div>
    <div class="promo">
        <p id="texto">Promotional banner</p>
    </div>

    <div class="tarjetas">
        <div id="dress">
            <img src="../storage/img/Captura desde 2026-03-12 07-11-40.png" alt="">
        </div>
        <div id="dress">
            <img src="../storage/img/Captura desde 2026-03-12 07-11-46.png" alt="">
        </div>
        <div id="dress">
            <img src="../storage/img/Captura desde 2026-03-12 07-11-53.png" alt="">
        </div>
        <div id="dress">
            <img src="../storage/img/Captura desde 2026-03-12 07-11-59.png" alt="">
        </div>
        <div id="dress">
            <img src="../storage/img/Captura desde 2026-03-12 07-12-03.png" alt="">
        </div>
        <div id="dress">
            <img src="../storage/img/Captura desde 2026-03-12 07-12-09.png" alt="">
        </div>
        <div id="dress">
            <img src="../storage/img/Captura desde 2026-03-12 07-12-13.png" alt="">
        </div>
        <div id="dress">
            <img src="../storage/img/Captura desde 2026-03-12 07-12-17.png" alt="">
        </div>
        <div id="dress">
            <img src="../storage/img/Captura desde 2026-03-12 07-12-20.png" alt="">
        </div>
    </div>
</body>
</html>