<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/variables.css">
  <link rel="stylesheet" href="../css/comentario.css">
  <title>Comentarios</title>
</head>
<body>
  <div class="general">
    <nav class="upContent">
      <a class="upContentLogo" href="comentario.html">
        <img src="../storage/img/icons/logoTienda.png" alt="">
      </a>
      <a class="upContentInicio" href="../index.html">Inicio
        <img src="../storage/img/icons/home2.png" alt="inicio">
      </a>
      <a class="upContentFavorito" href="favorito.html">Favoritos
        <img src="../storage/img/icons/corazon.png" alt="favoritos">
      </a>
      <search class="upContentLupa">
        <input placeholder="Search..." type="search">
      </search>
      <img class="upContentPerfil" src="../storage/img/perfilfoto.jpg" alt="fotoPerfil">
      <a class="upContentColombia" href="https://es.wikipedia.org/wiki/Colombia">
        <img  class="upContentColombia" src="../storage/img/icons/colombia.png" alt="idioma">
      </a>
      <a class="upContentPagar" href="checkout.html">
        <img src="../storage/img/icons/carrito.png" alt="">
      </a>
    </nav>

    <div class="hero">
      <main class="hero1">
        <div class="heroImagen">
          <img src="../storage/img/products/elegante.jpg" alt="producto">
        </div>
        <div class="heroContent">
          <p> Ropa de calidad, con tela ultra suave, alta textura y sello de calidad 
            donde disño y elegancia son 1, todo hecho 100% recogido por los 
            mejores artesanos de Colombia y hecho con demasiado amor.
            </p>
        </div>
        <div class="heroContentPrice">
          <h2>ULTIMO DIA 14.999</h2>
          <p>despues de la promocion a 30k</p>
          <p>3,7+ ventas | vendidos por <img src="../storage/img/icono.jpg" alt="icon"></p>
        </div>
        <div class="heroContentCompra">
          <button class="heroButton">Añadir al carrito</button>
        </div>
      </main>
    </div>
    <article class="comentarios"> 
      <article class="comentario1">
        <img class="img" src="../storage/img/icons/perfilicon.png" alt="usuario">
        <p> Daniel Mayorga </p>
        <p>tal cual como en la descripción, suenan bien, tal vez lo único mejor es mejorar los bajos, pero por el precio es perfecto
        </p>
      </article>
      <article class="comentario2">
        <img class="img" src="../storage/img/icons/perfilicon.png" alt="usuario">
        <p> Sebastian Salas </p>
        <p>Muy buen producto pero sería mejor que fuera un poco más gruesa la tela
        </p>
      </article>
      <article class="comentario3">
        <img class="img" src="../storage/img/icons/perfilicon.png" alt="usuario">
        <p> Diego panqueda </p>
        <p>¡Muy chulo! La cremallera es un poco frágil, pero no afecta mucho a la calidad de la prenda
        </p>
      </article>
      <article class="comentario4">
        <img class="img" src="../storage/img/icons/perfilicon.png" alt="usuario">
        <p> leonardo pajin </p>
        <p>muy buen material Delgado abrigado presentación linda me gustó
        </p>
      </article>
    </article>

  </div>
</body>
</html>