<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/perfil.css">
    <title>PerfilUsuario</title>
</head>
<body>
    <div class="general">
        <div class="hero">
            <h1>PAGINA DE PERFIL DE USUARIO</h1>
            <button class="heroButtom">Configuracion</button>
        </div>
        <div class="heroButton">
            <button class="heroButtom1">Usuario</button>
            <button class="heroButtom1">Amigos</button>
            <button class="heroButtom1">Mensajes</button>
            <button class="heroButtom1">Configuracion</button>
        </div>
        <div class="main">
            <div class="mainContent">
                <div class="mainC">
                    <img class="mainImg" src="../storage/img/perfilfoto.jpg" alt="user">
                </div>
                <div class="mainText">
                    <h2 class="mainHeader"> Daniel Mayorga </h2>
                    <hr>
                     <div class="mainInfo">
                        <h2>Informacion</h2>
                        <p>correo electronico <input type="text" placeholder="Ingrese email..."> </p>
                        <p>Ubicacion <input type="text" placeholder="Ingrese Ubi...">  </p>
                        <p>Ocupacion <input type="text" placeholder="Ingrese Ocupaci..."> </p>
                        <p>sitio web <input type="text" placeholder="Ingrese Web..."> </p>
                     </div>                   
                </div>
            </div>
        </div>
        <hr>
        <div class="art">
            <div class="artContent">
                <h2>ACERCA DE MI</h2>
                <img src="../storage/img/perfilfoto.jpg" alt="user">
            </div>
            <div class="artConten2">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laborum consequatur tempore iure at molestiae, omnis ipsam vero ea quod odio. Deleniti odit exercitationem corrupti distinctio sunt ratione quo illum.</p>
            </div>
        </div>
        <div class="pu">
            <h2 class="txt"> PUBLICACIONES</h2>
            <div class="puTa">
            <img class="img1" src="../storage/img/perfilfoto.jpg" alt="">
            <img class="img1" src="../storage/img/perfilfoto.jpg" alt="">
        </div>
    </div>
</body>
</html>