<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    
    <div class="general">
        <div class="contenido">
            <div class="contenido-logo">
                <img src="../storage/img/perfilfoto.jpg" alt="Logo">
            </div> 
        </div>
        <div class="contenido-under">
            <div class="contenido-name">
                <h2>Daniel Mayorga</h2>
                <p class="sub-contenido">Ing De Software</p>
            </div>
            <div class="contenido-opciones">
                <div class="volver">
                    <a href="../index.html">
                        <img src="../storage/img/icons/atras.png" alt="atras">
                        <h3>volver</h3>
                    </a>
                </div>
                <div class="pagar">
                    <img src="../storage/img/icons/bag2.png" alt="pagar">
                    <h3>pagar</h3>
                </div>
                <div class="favoritos">
                    <img src="../storage/img/icons/coralleno.png" alt="favoritos">
                    <h3>favoritos</h3>
                </div>
            </div>
            <section class="contenido-skill">
                <section class="skill">
                    <h3> vivo en nueva york</h3>
                </section>
                <section class="skill">
                    <h3> Soltero y feliz </h3>
                </section>
                <section class="skill">
                    <h3> Naci en Canada UwU</h3>
                </section>
            </section>
        </div>            
    </div>

    <nav class="navbarMobile">
        <a href="../index.html" class="navegar" aria-label="Inicio">
            <img src="../storage/img/icons/home.png" alt="Home">
            <h2> Volver al inicio </h2>
        </nav>
    </nav>

</body>
</html>